@import 'variables';

.features {

  .features__inner {
  
    .features__header {
      margin-bottom: 130px;
    }
  
    .features__content {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      
      .feature__block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        min-width: 370px;
  
        .feature__title {
          margin-bottom: 20px;
          color: $feature-title;
        }
  
        .feature__desc {
          max-width: 265px;
          color: $feature-desc;
          line-height: 1.4;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .features {
    .features__inner {
      .features__content {
        flex-wrap: wrap;
        justify-content: space-evenly;

        .feature__block:not(:last-child) {
          margin-bottom: 100px;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .features {
    .features__inner {

      .features__header {
        margin-bottom: 100px;
      }

      .features__content {
        flex-direction: column;
        align-items: center;

        .feature__block {
          min-width: none;
          max-width: 370px;
        }

        .feature__block:not(:last-child) {
          margin-bottom: 60px;
        }
      }
    }
  }
}