@import 'variables';

.header {
  position: absolute;
  top: 34px;
  width: 100%;

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      color: $white;
    }
  }
}



