@import 'variables';

.header {
  position: absolute;
  top: 34px;
  width: 100%;

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      color: $white;
    }
  }
}

@media screen and (max-width: $mobile) {
  .header {
    .header__inner {
      padding: 0 20px;
    }
  }
}