@import 'variables';

.home {
  padding-top: 180px;
  min-height: 900px;
  height: 95vh;
  background: url($home-bg) no-repeat 50% 100%;

  .home__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .home__text-block {
      margin-bottom: 62px;

      .home__title, .home__descr{
        color: $white;
      }

      .home__title {
        margin-bottom: 42px;
        max-width: 500px;
        line-height: 1.2em;
      }

      .home__descr {
        max-width: 390px;
        line-height: 1.5em;
      }
    }

    .home__phone {
      width: 100%;

      img {
        width: 100%;
      }
    }

    .home__btn-block {

      max-width: 330px;
      display: flex;
      justify-content: space-between;

      .home__btn {
        padding: 18px 34px;
        border: none;
        border-radius: 5px;
        max-width: 160px;
        color: $white;
        cursor: pointer;
      }

      .btn-download {
        background-color: $main-orange;
      }

      .btn-features {
        background-color: $main-blue;
      }
    }

    .scroll-down {
      position: absolute;
      left: 50%;
      top: 95%;
      width: 50px;
      height: 50px;
      border-radius: 100%;
      border: none;
      background-color: $white;
      box-shadow: 0 10px 10px rgba(0, 0, 0, .1);
      cursor: pointer;

      .down-arrow {
        margin: 0 auto;
        width: 8px;
        height: 8px;
        border: 2px solid;
        border-radius: 2px;
        border-color: $main-orange transparent transparent $main-orange;
        transform: rotate(-135deg);
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .home {
    height: 80vh;
    min-height: 750px;
    background-size: cover;

    .home__left {
      width: 55%;
    }

    .home__right {
      width: 45%;
    }
  }

  .scroll-down {
    transform: translate(0, 150%);
  }
}