.icon {
  display: block;
  height: 26px;
  width: 26px;
  background-size: contain;
}

.icon-facebook-light {
  background: url("../images/facebook.png") no-repeat;
}

.icon-instagram-light {
  background: url("../images/instagram.png") no-repeat;
}

.icon-twitter-light {
  background: url("../images/twitter.png") no-repeat;
}