@import 'variables';

.side-menu {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;

  .side-menu__area {
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
    height: 100%;

    .side-menu__content {
      background-color: $heading;
      width: 30%;
      height: 100%;

      .side-menu__links {
        margin-bottom: 20px;

        .side-menu__link {
          display: block;
          padding: 16px 20px;
          text-decoration: none;
          color: $white;
        }

        .side-menu__link:hover {
          background-color: $main-blue;
        }
      }

      .side-menu__social {
        width: 150px;
        display: flex;
        padding: 20px;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}