@import 'variables';

.text-small {
  font-size: 16px;
}

.text-medium {
  font-size: 18px;
}

.text-large, .title-small {
  font-size: 24px;
}

.title-medium {
  font-size: 36px;
}

.title-large {
  font-size: 60px;
}

@font-face {
  font-family: ubuntuLight;
  src: url($ubuntu-light);
}

@font-face {
  font-family: ubuntuRegular;
  src: url($ubuntu-regular);
}

@font-face {
  font-family: ubuntuBold;
  src: url($ubuntu-bold);
}

.font-light {
  font-family: ubuntuLight, sans-serif;
}

.font-regular {
  font-family: ubuntuRegular, sans-serif;
}

.font-bold {
  font-family: ubuntuBold, sans-serif;
}

.heading {
  @extend .font-bold;
  @extend .title-medium;
  color: $heading;
  margin-bottom: 22px;
  text-align: center;
}

.sub-heading {
  @extend .font-regular;
  @extend .text-medium;
  color: $sub-heading;
  text-align: center;
}