//Colors
$white: #fff;
$main-orange: #fc6a42;
$main-blue: #4466c9;
$heading: #648cff;
$sub-heading: #999999;
$nav-link: #e1e1e1;
$feature-title: #353854;
$feature-desc: #aeaeae;


//Links
$home-bg: "../images/home-bg.png";
$ubuntu-light: "../fonts/Ubuntu-Light.ttf";
$ubuntu-regular: "../fonts/Ubuntu-Regular.ttf";
$ubuntu-bold: "../fonts/Ubuntu-Bold.ttf";