@use 'reset';
@use 'typography';
@use 'nav';
@use 'header';
@use 'icons';
@use 'home';
@use 'features';
@use 'widgets';
@use 'true';
@use 'screenshots';
@use 'reviews';
@use 'download';
@use 'footer';

@import 'variables';

body > div:nth-last-child(n+3) {
  margin-bottom: 120px;
}

.wrapper {
  max-width: 1167px;
  margin: 0 auto;
}

.wrapper-small {
  max-width: 1000px;
  margin: 0 auto;
}

@media screen and (max-width: $tablet) {
  .wrapper {
    max-width: 800px;
  }

  .wrapper-small {
    max-width: 650px;
  }
}